!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Interface Configuration
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{% if interface_information.gateway -%}
interface {{ controller.mgmt_int }}
  no switchport
  ip address {{ interface_information.ip_addr }} {{ interface_information.subnet_mask }}
  no shutdown
{% endif %}
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Default Route
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{% if controller.platform == "9800-CL" and interface_information.gateway -%}
ip route 0.0.0.0 0.0.0.0 {{ interface_information.gateway }}
{% elif interface_information.gateway -%}
ip route vrf {{ interface_information.vrf }} 0.0.0.0 0.0.0.0 {{ interface_information.gateway }}
{% endif %}
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Enable Network Services
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{% if services is defined -%}
{% if services.restconf_enabled -%}
netconf-yang
{% endif %}
{% if services.netconf_enabled -%}
restconf
{% endif %}
{% endif %}
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! AAA
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
aaa authentication login default {{ aaa_method_list_order.authentication }}
aaa authentication login NOAUTH none
aaa authorization exec default {{ aaa_method_list_order.authorization }}
ip http authentication local
line con 0
 login authentication NOAUTH
user-name {{ controller.username }}
 privilege 15
 password 0 {{ controller.password }}
 type mgmt-user
boot system bootflash:packages.conf